{% extends 'base.html' %}
{% load static %}
{% block main %}
<h1 style="text-align: center;">Prescreen List</h1><br>
<div class="table-responsive" style="margin-bottom: auto; width: 100%; table-layout: auto; padding: 5px;">
        <table data-toggle="table" class="table table-sm table-striped table-bordered" style="table-layout: fixed; width: 100%;white-space: normal;">
          <thead>
            <tr  style="border: 1px solid black;">

              <th data-sortable="true" style="border: 1px solid black;">Date Added</th>
              <th data-sortable="true" style="border: 1px solid black;">Ticker</th>
              <th data-sortable="true" style="border: 1px solid black;">Category</th>
              <th data-sortable="true" style="border: 1px solid black;">TTM Date</th>
               <th data-sortable="true" style="border: 1px solid black;"><div style="white-space: normal;">IGRTTM(%)</div></th>
               <th data-sortable="true" style="border: 1px solid black;"><div style="white-space: normal;">RevGTTM(%)</div></th>
               <th data-sortable="true" style="border: 1px solid black;"><div style="white-space: normal;">RevG3YA(%)</div></th>
               <th data-sortable="true" style="border: 1px solid black;"><div style="white-space: normal;">ECOSTTM(%)</div></th>
               <th data-sortable="true" style="border: 1px solid black;"><div style="white-space: normal;">ECOS3YA(%)</div></th>
               <th data-sortable="true" style="border: 1px solid black;"><div style="white-space: normal;">EBITDATTM(%)</div></th>
               <th data-sortable="true" style="border: 1px solid black;"><div style="white-space: normal;">EBITDA3YA(%)</div></th>
              <th data-sortable="true" style="border: 1px solid black;">Sharpe5Y</th>
              <th data-sortable="true" style="border: 1px solid black;">Variance5Y </th>
             
             
            </tr>
          </thead>
          <tbody>
             {% for item in data_list %}
            <tr style="border: 1px solid black;">
              <td style="border: 1px solid black;">{{item.date_added | date:"Y-m-d"}}</td>
              <td style="border: 1px solid black;">{{item.ticker}}</td>
              <td style="border: 1px solid black;">{{item.fetched_data.industry}}</td>
              <td style="border: 1px solid black;">{{item.fetched_data.ttm_date}}</td>
              <td style="border: 1px solid black;">{{item.fetched_data.imp_growth_TTM}}</td>
              <td style="border: 1px solid black;">{{item.fetched_data.rev_growth_TTM}}</td>
              <td style="border: 1px solid black;">{{item.fetched_data.rev_growth_3y}}</td>
              <td style="border: 1px solid black;">{{item.fetched_data.ecos_margin_TTM}}</td>
              <td style="border: 1px solid black;">{{item.fetched_data.ecos_margin_3y}}</td>
              <td style="border: 1px solid black;">{{item.fetched_data.ebitda_margin_TTM}}</td>
              <td style="border: 1px solid black;">{{item.fetched_data.ebitda_margin_3y}}</td>
              <td style="border: 1px solid black;">{{item.fetched_data.sharpe_ratio_5 | floatformat:4}}</td>
              <td style="border: 1px solid black;">{{item.fetched_data.variance_5 | floatformat:4}}</td> 
            </tr>
            {% endfor %}
           
          </tbody>
        </table>
      </div>






{% endblock %}