{% extends 'base.html' %}
{% load static %}
{% block main %}
<h1 style="text-align: center;">Prescreen List</h1><br>
<div class="table-responsive" style="margin-bottom: auto; width: 100%; table-layout: auto; padding: 5px;">
        <table data-toggle="table" class="table table-sm table-striped table-bordered" style="table-layout: fixed; width: 100%;white-space: normal;">
          <thead>
            <tr  style="border: 1px solid black;">

              <th data-sortable="true" style="border: 1px solid black;">Date Added</th>
              <th data-sortable="true" style="border: 1px solid black;">Ticker</th>
              <th data-sortable="true" style="border: 1px solid black;">Category</th>
               <th data-sortable="true" style="border: 1px solid black;"><div style="white-space: normal;">IGRTTM(%)</div></th>
               <th data-sortable="true" style="border: 1px solid black;"><div style="white-space: normal;">RevGTTM 2025-09-30(%)</div></th>
               <th data-sortable="true" style="border: 1px solid black;"><div style="white-space: normal;">RevG3YA(%)</div></th>
               <th data-sortable="true" style="border: 1px solid black;"><div style="white-space: normal;">ECOSTTM 2025-09-30(%)</div></th>
               <th data-sortable="true" style="border: 1px solid black;"><div style="white-space: normal;">ECOS3YA(%)</div></th>
               <th data-sortable="true" style="border: 1px solid black;"><div style="white-space: normal;">EBITDATTM 2025-09-30(%)</div></th>
               <th data-sortable="true" style="border: 1px solid black;"><div style="white-space: normal;">EBITDA3YA(%)</div></th>
              <!-- <th data-sortable="true" style="border: 1px solid black;">Extrapolated Revenue Growth (%)</th>
              <th data-sortable="true" style="border: 1px solid black;">Sharpe Ratio - 5 Yr</th>
              <th data-sortable="true" style="border: 1px solid black;">Variance  - 5 Yr </th> -->
             
             
            </tr>
          </thead>
          <tbody>
             {% for item in data_list %}
            <tr style="border: 1px solid black;">
              <td style="border: 1px solid black;">2025-11-20</td>
              <td style="border: 1px solid black;">{{item.ticker}}</td>
              <td style="border: 1px solid black;">{{item.data.7}}</td>
              <td style="border: 1px solid black;">{{item.data.0}}</td>
              <td style="border: 1px solid black;">{{item.data.1}}</td>
              <td style="border: 1px solid black;">{{item.data.2}}</td>
              <td style="border: 1px solid black;">{{item.data.3}}</td>
              <td style="border: 1px solid black;">{{item.data.4}}</td>
              <td style="border: 1px solid black;">{{item.data.5}}</td>
              <td style="border: 1px solid black;">{{item.data.6}}</td>
              <!-- <td style="border: 1px solid black;">N/A</td>
              <td style="border: 1px solid black;">N/A</td>
              <td style="border: 1px solid black;">N/A</td> -->
            </tr>
            {% endfor %}
           
          </tbody>
        </table>
      </div>



{% endblock %}