{% extends 'base.html' %}
{% block main %}


<div class="container">
{% if msg == 'get' %}
    <h1>Real Estate Data Analysis</h1>
    <div class="img"><img src="/static/finapp/mapcan.png" alt="map of canada" /></div>
    <p class="text">Are you a real estate investor, professional, or simply an enthusiast? Are you looking to
  expand your portfolio into new markets? Or you are simply interested in looking into value of your investement.
Or you want to invest where there is possibility of higher return. You are at the right place. </p>
  <p class="text">Dive into the world of real estate for different jurisdictions of Canada. You can see, compare and analyze the
  historical and current trends in house and land prices. You can select different geographical regions of Canada , province or census metropolitan area (CMA).
  The data span from 1981 till date - collected monthly. The data referred here is sourced from StatCan.
  Please note, the benchmark is taken as 100 for 2016 for individual jurisdictions. The data do not represent absolute values rather they define
  trends and movements along the years.<p>
  <p class="text">Get started by selecting a geographical region, province, or metropolitan area below:</p>
{% endif %}
  <form  method="POST" >
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" class="btn">
  </form>

  {% if stat %}
  <div class="summary">
    <h1 class="heading">Price Chart</h1>
    <img src='data:image/png;base64,{{ chart }}'>
    <p class="source"><em>Data sourced from StatCan</em></p>

    <h1 class="heading">Lets summarise Return!</h1>
    <p class="text"><em>Based on historical prices, we can summarize the real estate market as follows:</em></p>
    <p><ul class="items">
      <li>{{result_msg.0}}</li>
      <li>{{result_msg.1}}</li>
      <li>{{result_msg.2}}</li>
    </ul></p>
    <p class="blank"></p>
    <p class="text">Here is the scenario of historical Quarterly and 5 Year Return on various percentiles.</p>
    <p class="blank"></p>
    {% autoescape off %}
    <div class="table">{{stat|safe}}</div>
    {% endautoescape %}
    <p class="hint"><em>Note: Returns are in %. 5 year Returns are annualised</em></p>

  </div>
  {% endif %}
  </div>

  <style>
  	.container{width:80%; border-radius:10px; margin:100px auto 20px auto;}
  	.container h1{font-family:Acme, sans-serif;text-align:center;margin-bottom:15px;}
  	.img{text-align:center;}
  	.text{padding: 5px 10px;}
  	.source{text-align:right;color:gray;font-size:0.8rem;}
  	.heading{margin-top:30px;}
    form{margin:20px auto; width:70%;border:1px solid gray;text-align: center;border-radius: 8px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
    #id_location{font-size:1rem; padding:5px;}
    form label{padding:10px; display:block;font-size: 1.2rem;}
    .btn{text-align:center;padding:8px; border-radius:8px;background-color: #4B56D2;color:white; font-size:1.3rem;margin-top:15px;margin-bottom:15px;}
    .btn:hover{color:#FF8B13;}
    .summary img{margin-top:20px; border:1px solid gray; width:95%; border-radius:8px; padding-top:10px;}
    .summary p{margin-top:15px;}

    .table{border:solid 2px rgb(220,220,220); border-radius:8px;width:90%;margin:0 auto;}
    .dataframe{width:100%;text-align:center;}
    .dataframe thead{text-align:center;background-color:rgb(255,217,102);color:#002060;}
    .dataframe tbody{text-align:center;font-size:1.0rem;}
    .dataframe tr:nth-child(even){background-color:rgb(226,237,253);}
    .items{padding-left:40px;}
    .hint{margin: 10px 20px; text-align: right;}
    .blank{margin:20px auto;}

    @media only screen and (max-width: 576px){
        .img{width:100%;}
        img{max-width:100%;}
        .container{width:98%;}

      }



  </style>
  {% endblock %}