<div class="tab-pane" id="nav-visual" role="tabpanel" aria-labelledby="nav-visual-tab" tabindex="0">
    <p class="display-6 text-success mt-3">Visualizations</p>
    <p class="lead text-center my-2">Gain-Loss under various Implied Growth and ECOS Margin Scenario</p>
    <p class="text-center text-secondary">(Work in Progress. There might be some discrepancies in the following charts. We are actively monitoring its accuracy.)</p>
    <div class="text-center border rounded mb-5"><img class="img-fluid" src='data:image/png;base64,{{ plot1 }}'></div>
    <!-- <div class="text-center border rounded mb-5"><img class="img-fluid" src='data:image/png;base64,{{ plot2 }}'></div> -->
    <div class="text-center border rounded mb-5"><img class="img-fluid" src='data:image/png;base64,{{ waterfallchart }}'></div>

</div>